@use "../brand";

#balance-status-wrapper {
  font-weight: bolder;
}

h1 {
  font-size: 40px;
}

.prop {
  font-weight: 625;
  font-size: 0.8em;
}

.prop-value {
  font-size: 2em;
  font-weight: bold;
}

#balance {
  color: brand.$brand-purple;
}

#future-balance {
  color: brand.$success;
}

#today-spent {
  color: brand.$brand-red;
}

#inflation-router, #want-to-see-year-router {
  font-size: 16px;
}

#balance-status-wrapper {
  width: 350px;
}

#transactions-filter {
  span {
    font-size: 25px;
  }
  
  .select-box {
    margin-left: 10px;
  }
}

.list-container {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: visible !important;
  padding: 20px;

  * {
    font-weight: normal;
    overflow-wrap: break-word;
  }
  
  &::-webkit-scrollbar {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: brand.$brand-purple;
    border-radius: 50px;
  }
}

.transactions-container {
  .transaction-description, .transaction-date {
    color: #888888;
  }

  .transaction-description {
    inline-size: 40%;
  }
  
  .transaction-date {
    margin-left: 10px;
  }
}

.none-transactions {
  span {
    font-weight: bold;
  }
}

.loading-transactions {
  height: 300px;
}

.debtor-name {
  font-weight: bold;
  font-size: 1.2em;
}

.under-balance-button {
  margin-top: 20px;
  width: 350px;
}

.fa-trash {
  color: brand.$brand-red;
}

button[class *= 'icon-button'] {
  margin-left: 10px;
  .fa-angle-down {
    transition: transform 0.3s;
  }
}
 
div[class *= "debtor-list"] {
  height: fit-content;
  transition: height 0.5s;
  
  display: flex;
  flex-direction: column;
  
  .debts-container {
    border-radius: 0 0 10px 10px;
    overflow-y: hidden;
    height: 0;
    padding: 0;
    margin-bottom: 0;
    background: transparent;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s;
  }
}

.opened-debtor-list {
  button[class *= 'icon-button'] {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
  
  .debts-container {
    opacity: 1 !important;
    height: 100% !important;
    padding: 10px !important;
    background: linear-gradient(180deg, #FFF 70%, brand.$main-light-background) !important;
    margin-bottom: 10px !important;
  }
}

.debtor-name {
  font-weight: 500;
}

.def-debt-span {
  color: brand.$brand-red;
}

.return-debt-span {
  color: brand.$success;
}
 
.fa-pen {
  color: #26d7ff;;
}

.can-hide {
  transition: opacity 0.3s;
}

.shown {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .balance-info-wrapper {
    order: 0;  
  } 
  
  .trans-debtors-wrapper {
    order: 1;
  }
  
  .main-wrapper {
    flex-direction: column !important;
  }
}

