.login-form-wrapper {
  width: 500px;
  height: 600px;

  form {
    width: 80%;
  }

  input[type="submit"] {
    width: 200px;
    margin-top: 40px;
  }

  .brand-text-input-pre-wrapper {
    width: 100%;
    margin: 20px 0;
  }
}