@use "../brand";

html, body {
  width: 100%;
  height: 100%;
}

.statistics-wrapper {
  width: 65%;

  h1 {
    width: fit-content;
    background: linear-gradient(90deg, lighten(brand.$brand-purple, 5), lighten(brand.$brand-red, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: brand.$brand-purple;
  }

  .statistics {
    width: 90%;
    .statistics-indicator {
      font-weight: bold;
    }

    .statistics-value {
      color: brand.$brand-purple;
    }

    .statistics-indicator, .statistics-value {
      font-size: 48px;
      line-height: 2em;
    }

    border-left: 13px solid brand.$brand-purple;
  }
}

.form-wrapper {
  padding: 20px;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .form-wrapper:first-child {
  margin-bottom: 30px;
}

.main-wrapper {
  height: 90%;
}

#logo {
  width: 75px;
}

form, .brand-text-input-pre-wrapper {
  width: 90%;
}

@media screen and (max-width: 1300px) {
  .form-wrapper {
    width: 500px;
  }
}

@media screen and (max-width: 750px) {
  .statistics-wrapper {
    display: none;
  }
  
  .forms-wrapper {
    order: -1;
  }
  
  .main-wrapper {
    flex-direction: column !important;
    position: relative !important;
  }
  
  .logo {
    width: 100px;  
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  .form-wrapper {
    width: 100%;
  }
}

.main-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}