@use "../../../brand-assetes";

.flat-submit {
  border-radius: 100px;
  border: none;
  outline: none;

  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  min-width: 100px;

  transition: background 0.3s;

}

.flat-submit[class ~= "filled-green"]:hover {
  background: darken(brand-assetes.$brand-green, 15);
}

.flat-submit[class ~= "filled-red"]:hover {
  background: darken(brand-assetes.$brand-red, 15);
}

.flat-submit[class ~= "filled-yellow"]:hover {
  background: darken(brand-assetes.$brand-yellow, 15);
}