$brand-purple: #B122F4;
$brand-red: #DE3842;
$brand-gradient: linear-gradient(45deg, $brand-red -50%, $brand-purple);

$main-light-background: #F4F4F4;
$sub-light-background: #FFFFFF;

$main-dark-background: #1E1E1E;
$sub-dark-background: #393939;

$success: #2EC321;