@use 'brand';

a, a:hover, a:visited {
  color: brand.$brand-purple;
}

a:hover {
  text-decoration: none;
}

*::selection {
  background-color: brand.$brand-purple;
  color: #FFF;
}

.box {
  position: relative;
  background: brand.$sub-light-background;
  padding: 10px;
  border-radius: 8px;
}

.right-box-button {
  position: absolute;
  top: 0;
  right: 0;
  color: brand.$brand-purple;
  cursor: pointer;
  background: transparent;
  border: none;
}

.right-box-button:focus {
  outline: none;
}

.colored-in-brand-purple {
  color: brand.$brand-purple;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.max {
  width: 100%;
  height: 100%;
}

.half-fill-x {
  width: 50%;
}

.half-fill-y {
  height: 50%;
}

.brand-text-input {
  background: #FFF;
  border: none;
  outline: none;
  padding: 4px;
  caret-color: brand.$brand-red;
  width: 100%;
  height: 100%;
}

.brand-text-input::placeholder {
  color: #9F9F9F;
  font-weight: lighter;
}

.brand-text-input-error-span {
  color: brand.$brand-red;
  font-size: 15px;
  font-weight: lighter;
}

.brand-text-input-wrapper {
  padding: 2px;
  border-radius: 3px;
  background: brand.$brand-gradient;
}

.brand-text-input-pre-wrapper {
  margin: 10px 0;
}

.brand-button {
  margin: 4px 0;

  background: brand.$brand-gradient;
  color: white;
  border: none;
  outline: none;
  padding: 5px 40px;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 0 0 transparentize(brand.$brand-purple, 0.5);
  text-align: center;
}

.brand-button:hover {
  box-shadow: 0 0 0 3px transparentize(brand.$brand-purple, 0.5);
  color: #FFF;
}

.brand-button:active, .brand-button:focus {
  outline: none;
}

$loader-step: 10px;

.loader {
  width: 100px;
  height: 20px;

  div {
    width: 20px;
    height: 20px;
    background: brand.$brand-purple;
    border-radius: 50%;
    animation: loader-flow 2s infinite;
  }

  .second-circle {
    animation-delay: 0.3s;
  }

  .third-circle {
    animation-delay: 0.6s;
  }
}

@keyframes loader-flow {
  20% {
    transform: translateY(-$loader-step);
  }
  40% {
    transform: translateY(0);
  }
}

.select-box {
  position: relative;
  * {
    font-size: 20px;  
  }
  
  *[class *= "select-box-arrow"] {
    z-index: 3;
    margin-left: 5px;
    color: brand.$brand-purple;
    
    transition: transform 0.3s;
  }
  
  .closed-select-box-arrow {
    transform: rotate(-180deg);
  }

  .opened-select-box-arrow {
    transform: rotate(0deg);
  }
  
  .closed-list-select-box {
    display: none !important;
  }

  .opened-list-select-box {
    display: flex;
  }
  
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
  overflow-y: hidden;
  padding: 8px;
  height: fit-content;
  user-select: none;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 30px !important;
  }
  
  .select-box {
    * {
      font-size: 20px !important;  
    }
  }
}

@media screen and (max-width: 450px) {
  .select-box {
    * {
      font-size: 16px !important;
    }
  }
}

button[class *= 'icon-button'] {
  background: transparent;
  color: brand.$brand-purple;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
}

.icon-button {
  background: brand.$main-light-background !important;
}

.layout-icon-button {
  background: #FFF !important;
}

.box-dialog {
  z-index: 3000000000000000;
  min-width: 10%;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  
  .dialog-item {
    transition: background-color 0.3s;
    padding: 5px;
    border-radius: 8px;
    
    &:hover {
      background: darken(brand.$main-light-background, 2);
    }
  }
}

.menu {
  background: lighten(brand.$main-light-background, 2);
  color: #000;
  padding: 10px;
  border-radius: 10px;
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .menu-item * {
    font-weight: 700;  
  }
  
  .menu-item svg[class *= 'fa'] {
    margin-left: 10px;
  }
  
  .fa-plus {
    color: brand.$brand-purple;
  }
}

.deletable-container {
  position: relative;
  overflow-x: visible;
  
  .delete-dialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    background: brand.$brand-red;
    
    border-radius: 8px;

    cursor: pointer;
    
    .fa-trash {
      color: #FFF;
    }
  }
  
  .delete-dialog-show {
    cursor: pointer;
    opacity: 1;
  }
  
  .hidden {
    z-index: -1;
  }
}

.transaction-icon {
  width: 66px;
  height: 66px;
}

.modal-select-box {
  background: brand.$main-light-background;
}

.auto-complete-input {
  width: 100%;
  border: 1px solid #d9d9d9;
  outline: none;
}

.auto-complete-input, .auto-complete-options-container {
  padding: 8px;
}

.auto-complete-options-container {
  width: 100%;
  background: #FFF;
  border-radius: 0 0 8px 8px;
}

.auto-complete-input, .auto-complete-options-container {
  border: 1px solid #d9d9d9;
}

.shown-state {
  .auto-complete-input {
    border-radius: 8px 8px 0 0;
  }
}

.hidden-state {
  .auto-complete-input {
    border-radius: 8px;
  }
}

.auto-complete-wrapper {
  width: 300px;
}

.swal-form {
  .auto-complete-wrapper {
    width: calc(100% - 11rem);
  }
}

.autocomplete-option {
  cursor: pointer;
  user-select: none;
}

.slider-card, .images-slider-container {
  width: 200px;
  height: 200px;
}

.images-slider-container {
  width: 250px;
}

.images-slider-container {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  overflow-x: hidden;
}

.left-slide-button, .right-slide-button {
  position: absolute;
  background: brand.$brand-purple;
  width: 5px;
  transition: width 0.3s, opacity 0.3s;
  height: 20%;
  top: 40%;
  cursor: pointer;
}

.left-slide-button {
  left: 0;
}

.right-slide-button {
  right: 0;
  background: brand.$brand-purple;
}

.selected-slider-button {
  width: 20px;
  opacity: 0.7;
}

@media screen  and (max-width: 1200px){
  .brand-button {
    font-size: 18px;
  }
}

@media screen and (max-width: 850px) {
  .brand-button {
    font-size: 16px;
  }
}

.page-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-account-wrapper {
  width: 600px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  
  .account-settings-wrapper {
    transform: translateX(-500px);
  }
}

.burger {
  width: 70px;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  
  div[class*='burger'] {
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background: brand.$brand-purple;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    transform-origin: left;
  }
  
  .burger-1-opened {
      transform: rotateZ(35.54deg);
  }
  
  .burger-2-opened {
      opacity: 0;
  }
  
  .burger-3-opened {
    transform: rotateZ(-35.54deg);
  }
}

.fill-screen-account {
  z-index: 100000;
  backdrop-filter: blur(10px);
  background: rgba(134, 134, 134, 0.22);
  
  .account-settings-wrapper {
    transform: translateX(20px);
  }
}

.account-settings-wrapper {
  width: 500px;
  transition: transform 0.3s ease-out;
}