.icon-button {
  border-radius: 50%;
  border: none;
  outline: none;

  width: 50px;
  height: 50px;

  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s;
}

.icon-button:focus {
  outline: none;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:active {
  transform: scale(0.99);
}
